*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;


	-webkit-tab-highlight-color:transparent;
	tab-highlight-color:transparent;
}
a, a:hover,a:focus{
 color: #333;
 text-decoration: none;
 outline:none; 
}
ul ,ol{
	list-style: none;
}
img{
    border-style:none;
    border-width: 0;
}
input,textarea{
	border: 0;
	outline: none;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}
/*清除浮动*/
.clearfix::after, .clearfix::before{
      content: " ";
      clear: both;
      visibility: hidden;
      display: block;
      height: 0;
}